* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.ico::after, ::before {
    margin-bottom: auto;
}

body {
    background-color: #1F1F1F;
    width: 100%;
}

.try {
    transition: ease-in-out;
    transition-duration: 3s;
    transition-delay: 2s;
}

.main-content {
    margin-top: 40px;
    margin-bottom: 40px;
}

@media screen and (min-width: 990px) {
    .main-content {
        margin-bottom: 30px;
        margin-top: 30px;
        border: 2px solid green;
    }
}
@media screen and (min-width: 1140px) {
    .main-content {
        margin-bottom: 20px;
        margin-top: 20px;
        border: 2px solid red;
    }
    .footer {
        margin-top: 20px;
    }
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/images/hero.png);
    min-height: 50%;
    margin-top: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    position: relative;
}

@media screen and (min-width: 639px) {
    .hero {
        margin-top: 7rem;
    }
}

@media screen and (min-width: 767px) {
    .hero {
        margin-top: 5rem;
    }
}

/* .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  } */
  
  .hero-text button {
    border: none;
    border-radius: 5px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @media screen and (max-width: 393px) {
    .close {
        margin-left: 180px;
    }
    .try ul li {
        padding-bottom: 30px;
    }
}

@media screen and (max-width:340px) {
    .close {
        margin-left: 140px;
    }
}
@media screen and (max-width:283px) {
    .close {
        margin-left: 120px;
    }
}


@media screen and (min-width: 393px) {
    .close {
        margin-left: 200px;
    }
    .try ul li {
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 497px) {
    .close {
        margin-left: 250px;
    }
}

/* @media screen and (min-width: 331px) {
    .close {
        margin-left: 110px;
    }
}
@media screen and (min-width: 431px) {
    .close {
        margin-left: 140px;
    }
}
@media screen and (min-width: 531px) {
    .close {
        margin-left: 200px;
    }
} */

